@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/*general*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;
}
/*nav bar*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background: rgb(105, 105, 105);
}
header::after{
    content: '';
    display: table;
    clear: both;
}
.logo {
        color: white;
        font-weight: bold;
        cursor: default;
    }
}
a {
    color: rgb(255, 255, 255);
}
.header-menu li a  {
    list-style: none;
    text-decoration: none;
    color: white;
    text-transform: uppercase;

    
}
.header-menu li{
    display: inline-block;
    padding: 0px 20px;
}

.header-menu li a:hover{
    color: rgb(177, 177, 177);
    transition: all 0.3s ease 0s;
}
.active{
    color:white;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: default;
}
.search {
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(141, 141, 141);
}
button {
    border-radius: 20px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    
}
/*footer*/
footer {
    
    background-color: rgb(105, 105, 105);
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    
}
.footer {
    color: white;
    text-decoration: none;
}
.copyright.text {
    align-items: center;
}
